<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>中国菜传承人名单</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- 引入自定义 CSS -->
    <style>
        table {
            width: 100%;
        }

        th, td {
            text-align: center;
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class="container mt-3">
    <!-- 菜谱表格 -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>民族</th>
            <th>身份</th>
            <th>所属菜系</th>
            <th>擅长菜</th>
            <th>所属地区</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chuanchengren : ${chuanchengrenlist}"><!--<tr th:each="tupian,tupianStat:${tupianlist}">-->
            <td th:text="${chuanchengren.id}"></td>
            <td th:text="${chuanchengren.xingming}"></td>
            <td th:text="${chuanchengren.xingbie}"></td>
            <td th:text="${chuanchengren.minzu}"></td>
            <td th:text="${chuanchengren.shenfen}"></td>
            <td th:text="${chuanchengren.caixi}"></td>
            <td th:text="${chuanchengren.caiming}"></td>
            <td th:text="${chuanchengren.diqu}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 分页组件 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:class="${page != null and page == 1} ? 'disabled' : null">
                <a class="page-link" th:href="${page != null and page == 1} ? '#' : '/zhongguocai/chuanchengren' + '?page=' + ${page != null ? page - 1 : 0} + '&size=' + ${size}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${page != null and page == i} ? 'active' : null">
                <a class="page-link" th:href="@{/zhongguocai/chuanchengren(page=${i}, size=${size})}"><span th:text="${i}"></span></a>
            </li>
            <li class="page-item" th:class="${page != null and page != totalPages} ? 'disabled' : null">
                <a class="page-link" th:href="${page != null and page != totalPages} ? '#' : '/zhongguocai/chuanchengren' + '?page=' + ${page != null ? page + 1 : 0} + '&size=' + ${size}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 跳转页码部分 -->
    <div class="input-group mb-3">
        <input type="number" id="pageInput" class="form-control" placeholder="页码" min="1" th:max="${totalPages}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="goToPage()">跳转</button>
        </div>
    </div>

</div>


<!-- 引入 jQuery 和 Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<!-- 自定义 JS -->
<script>
    function goToPage() {
        var totalPages = [[${totalPages}]];
        var size = [[${size}]];
        var pageInput = document.getElementById('pageInput').value;

        if (pageInput >= 1 && pageInput <= totalPages) {
            window.location.href = '/zhongguocai/chuanchengren?page=' + (pageInput - 1) + '&size=' + size;
        }
    }
</script>

</body>
</html>
