<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中国菜首次公开名单</title>
<!--    <link rel="stylesheet" href="css/高分菜单.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- 引入自定义 CSS -->
    <style>
        table {
            width: 100%;
        }

        th, td {
            text-align: center;
            line-height: 30px;
        }
    </style>

</head>

<body>
<!--&lt;!&ndash; 导航栏 &ndash;&gt;-->
<!--<div class="navbar">-->
<!--    <div class="logo">-->
<!--        <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%9B%BE%E6%A0%87.png-->
<!--" alt="Logo" />-->
<!--        <h2>中国菜宣传</h2>-->
<!--    </div>-->

<!--    <div class="search">-->
<!--        <input type="text" placeholder="搜索" />-->
<!--        <button class="weibo-btn">-->
<!--            <i class="fab fa-weibo"></i>-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="menu">-->
<!--    <ul>-->
<!--        <li id="home" class="menu-item"><a href="index">首页</a></li>-->
<!--        <li class="menu-item"><a href="#">机构</a></li>-->
<!--        <li class="menu-item"><a href="#">政策</a></li>-->
<!--        <li class="dropdown menu-item">-->
<!--            <a href="info">资讯</a>-->
<!--            <div class="dropdown-menu">-->
<!--                <a href="info_news">新闻动态</a>-->
<!--                <a href="info_reports">专题报道</a>-->
<!--                <a href="info_notification">通知公告</a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="dropdown menu-item">-->
<!--            <a href="#">清单</a>-->
<!--            <div class="dropdown-menu">-->
<!--                <a href="caipu">国内外高分菜谱</a>-->
<!--                <a href="chuanchengren">中国菜传承人名单</a>-->
<!--                <a href="chengshi">中国美食之都(包括5座联合国官方承认)</a>-->
<!--                <a href="shicai">中国菜典型食材特点及可替代品名单</a>-->
<!--                <a href="mingdan">中国菜首次公开名单</a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="dropdown menu-item">-->
<!--            <a href="#">资源</a>-->
<!--            <div class="dropdown-menu">-->
<!--                <a href="yingxiang">影像</a>-->
<!--                <a href="tupian">美食图集</a>-->
<!--                <a href="#">#H5鉴赏</a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="menu-item"><a href="#">论坛</a></li>-->
<!--        <li class="menu-item"><a href="#">知识窗</a></li>-->
<!--    </ul>-->
<!--    <div class="slider" id="slider"></div>-->
<!--</div>-->

<div class="tongji"></div><!-- 数据统计 -->

<style>
    .centered-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="centered-container">
    <div class="caidanlan">
        &nbsp;&nbsp;
        <input type="text" id="searchInput" style="height:30px;" placeholder="请输入查询内容">
        &nbsp;
        <button onclick="search()" style="height:30px;">搜索</button>
    </div>
</div>


<div class="container mt-3">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>菜系</th>
            <th>地区</th>
            <th>价格</th>
            <th>主要配料</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mingdan,mingdanStat:${mingdanlist}">
            <td th:text="${mingdan.id}"></td>
            <td th:text="${mingdan.mingcheng}"></td>
            <td th:text="${mingdan.caixi}"></td>
            <td th:text="${mingdan.diqu}"></td>
            <td th:text="${mingdan.jiage}"></td>
            <td th:text="${mingdan.zhuyaopeiliao}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 分页组件 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:class="${page != null and page == 1} ? 'disabled' : null">
                <a class="page-link" th:href="${page != null and page == 1} ? '#' : '/zhongguocai/mingdan' + '?page=' + ${page != null ? page - 1 : 0} + '&size=' + ${size}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${page != null and page == i} ? 'active' : null">
                <a class="page-link" th:href="@{/zhongguocai/mingdan(page=${i}, size=${size})}"><span th:text="${i}"></span></a>
            </li>
            <li class="page-item" th:class="${page != null and page != totalPages} ? 'disabled' : null">
                <a class="page-link" th:href="${page != null and page != totalPages} ? '#' : '/zhongguocai/mingdan' + '?page=' + ${page != null ? page + 1 : 0} + '&size=' + ${size}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 跳转页码部分 -->
    <div class="input-group mb-3">
        <input type="number" id="pageInput" class="form-control" placeholder="页码" min="1" th:max="${totalPages}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="goToPage()">跳转</button>
        </div>
    </div>
</div>





<!-- 引入 jQuery 和 Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<!-- 自定义 JS -->
<script>
    function goToPage() {
        var totalPages = [[${totalPages}]];
        var size = [[${size}]];
        var pageInput = document.getElementById('pageInput').value;

        if (pageInput >= 1 && pageInput <= totalPages) {
            window.location.href = '/zhongguocai/mingdan?page=' + (pageInput) + '&size=' + size;
        }
    }

    //搜索函数
    function search() {
        var keyword = document.getElementById('searchInput').value;
        window.location.href = '/zhongguocai/mingdan/search?keyword=' + keyword;
    }

</script>


</body>

</html>