<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中国菜首次公开名单</title>
    <link rel="stylesheet" href="css/高分菜单.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body>
<!-- 导航栏 -->
<div class="navbar">
    <div class="logo">
        <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5_new_images/%E7%BD%91%E7%AB%99%E5%9B%BE%E6%A0%87.png" alt="Logo" />
        <h2>中国菜宣传</h2>
    </div>

    <div class="search">
        <input type="text" placeholder="搜索" />
        <button class="weibo-btn">
            <i class="fab fa-weibo"></i>
        </button>
    </div>
</div>

<div class="menu">
    <ul>
        <li id="home"><a href="#">首页</a></li>
        <li><a href="#">机构</a></li>
        <li class="dropdown">
            <a href="#">资讯</a>
            <div class="dropdown-menu">
                <a href="#">#新闻动态</a>
                <a href="#">#专题报告</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">清单</a>
            <div class="dropdown-menu">
                <a href="#">#国内外高分菜谱</a>
                <a href="#">#中国菜传承人名单</a>
                <a href="#">#中国美食之都(包括5座联合国官方承认)</a>
                <a href="#">#中国菜典型食材特点及可替代品名单</a>
                <a href="#">#中国菜首次公开名单</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">资源</a>
            <div class="dropdown-menu">
                <a href="#">#影像</a>
                <a href="#">#美食图集</a>
                <a href="#">#H5鉴赏</a>
            </div>
        </li>
        <li><a href="#">论坛</a></li>
        <li><a href="#">知识窗</a></li>
    </ul>
    <div class="slider" id="slider"></div>
</div>


<div class="img1"><img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5_new_images/%E9%AB%98%E5%88%86%E8%8F%9C%E8%B0%B11.jpg"></div>
<div class="gaofenbinglie">
    <div class="img2"><img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5_new_images/%E9%AB%98%E5%88%86%E8%8F%9C%E8%B0%B1%E5%B7%A61.jpg"></div>
    <div class="img3">
        <br><br><br>
        <a href="#">清单<br><br><br><br><br><br><br></a>
        <a href="#">国内外高分菜谱<br><br><br><br><br></a>
        <a href="#">中国菜传承人名单<br><br><br><br><br></a>
        <a href="#">中国美食之都(包括5座联合国官方承认)<br><br><br><br><br></a>
        <a href="#">中国菜典型食材特点及可替代品名单<br><br><br><br><br></a>
        <a href="#">中国菜首次公开名单<br><br><br><br><br></a>
    </div>

</div>
<div class="jieshao">
    <br><br>国内外高分菜谱<br><br>

    &nbsp;&nbsp;中国菜是世界上最著名的菜系之一，拥有丰富多样的菜品和独特的烹饪技巧，深受国内外食客的喜爱。中国菜的特点之一是注重食材的新鲜和季节性，同时强调色香味俱全的搭配和烹饪技巧的巧妙运用。

    中国菜的菜谱涵盖了各个地区的传统菜肴，其中一些菜品在国际上也享有很高的声誉。例如，北京烤鸭是中国菜的代表之一，已有超过700年的历史，每年在全球范围内销售超过600万只。四川菜也备受推崇，其辣味和麻辣火锅已在全球范围内开设超过10000家分店。另外，广东菜以其精致的刀工和鲜美的口味闻名，广东烧鹅的销量在香港每年达到约100万只。

    国际上，中国菜在各大城市的中餐馆中广泛传播和受到喜爱。据统计，目前全球有超过50,000家中餐馆，其中约有30%的餐馆提供中国菜。中国菜不仅受到中国留学生的喜爱，越来越多的外国人也尝试学习和制作中国菜。根据数据显示，全球范围内每年有数百万人参加中餐烹饪课程。

    <br>
    &nbsp;&nbsp;总之，中国菜是一门独特而多样化的烹饪艺术，其菜谱包含了丰富的地方特色和传统。无论在国内还是国外，中国菜以其美味和文化价值受到高度赞扬和喜爱，成为了世界美食舞台上的瑰宝之一。
</div>
<!-- 中间介绍 -->

<div class="tongji"></div><!-- 数据统计 -->

<div class="caidanlan">
    <select style="width:400px;height:30px;">
        <option value="1">类别</option>
        <option value="1">类别</option>
        <option value="2">类别</option>
        <option value="3">类别</option>
    </select>
    <select style="width:400px;height:30px;">
        <option value="1">姓名</option>
        <option value="1">姓名</option>
        <option value="2">姓名</option>
        <option value="3">姓名</option>
    </select>
    <select style="width:400px;height:30px;">
        <option value="1">年龄</option>
        <option value="1">年龄</option>
        <option value="2">年龄</option>
        <option value="3">年龄</option>
    </select>
    &nbsp;&nbsp;
    <input type="text" id="searchInput" style="height:30px;" placeholder="请输入查询内容">
    &nbsp;
    <button onclick="search()" style="height:30px;">搜索</button>
</div><!-- 下拉菜单栏和搜索 -->
<script src="js/高分菜谱.js"></script>
<table>
    <thead>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>菜系</th>
        <th>地区</th>
        <th>价格</th>
        <th>主要配料</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mingdan,mingdanStat:${mingdanlist}">
        <td th:text="${mingdan.id}"></td>
        <td th:text="${mingdan.mingcheng}"></td>
        <td th:text="${mingdan.caixi}"></td>
        <td th:text="${mingdan.diqu}"></td>
        <td th:text="${mingdan.jiage}"></td>
        <td th:text="${mingdan.zhuyaopeiliao}"></td>
    </tr>
    </tbody>
</table>


</body>

</html>