<!DOCTYPE html>

<html lang="zh-CN">
<link href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/css/%E4%BC%A0%E7%BB%9F_%E7%9F%B3%E8%AE%B0%E6%B8%AF%E5%BC%8F%E8%8C%B6%E9%A4%90%E5%8E%85_%E9%A4%90%E5%8E%85%E6%A0%B7%E5%BC%8F.css" type="text/css" rel="stylesheet" />
<script src="js/top_roll.js"></script>

<head>
    <meta charset="UTF-8">
    <title>餐厅介绍</title>
</head>

<!-- <div class="kong-wrap">
    <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
    <div class="mianbao-item"><a class="mianbao-a" href="../../餐厅推荐.html">特色餐厅推荐</a> </div>
  </div> -->

<body>
<button name="button" onclick="history.back()">返回上一页</button>
<button name="button" onclick="window.location.href = '/zhongguocai/index'">返回主页</button>
    <header>

        <h1></h1>
        <!--<img src="images/background1.jpg" alt="背景图片">-->

    </header>
    <br />
    <div class="locate">地址：新兴广场3楼 电话：15399255399</div>
    <br />
    <div class="title1">石记港式茶餐厅</div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E7%9F%B3%E8%AE%B0%E6%B8%AF%E5%BC%8F%E8%8C%B6%E9%A4%90%E5%8E%85_%E9%BB%AF%E7%84%B6%E9%94%80%E9%AD%82%E9%A5%AD.jpg"
                        alt="" title="">
                    <!--<div 传统_石记港式茶餐厅_黯然销魂饭.jpg);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/k8cFiLBhtNjuawvq" target="_blank"
                        title="招牌菜">黯然销魂饭</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        一上来就能闻到香味，开放式餐厅，生意很好，吃得很饱
                    </div>
                    <div class="data"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E7%9F%B3%E8%AE%B0%E6%B8%AF%E5%BC%8F%E8%8C%B6%E9%A4%90%E5%8E%85_%E5%A5%B6%E9%85%AA%E8%8F%A0%E8%90%9D%E6%B2%B9.jpg
                    " alt="" title="">
                    <!--<div 奶酪菠萝油</div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/k8cFiLBhtNjuawvq" target="_blank"
                        title="招牌菜">奶油菠萝包</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        菠萝包也并不含有菠萝,菠萝包外层表面的的脆皮,一般由砂糖、鸡蛋、面粉与猪油烤制而成,烤制完成后表皮形成的凹凸不平感,很像菠萝。
                        松软的面包体,酥松掉渣的外皮,还有那淡淡的黄油香味,简直把大家吸引的魂不守舍,再悠闲地配上一杯奶茶,完全是一个绝佳的下午茶了
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E7%9F%B3%E8%AE%B0%E6%B8%AF%E5%BC%8F%E8%8C%B6%E9%A4%90%E5%8E%85_%E6%B8%AF%E5%BC%8F%E5%86%BB%E6%9F%A0%E8%8C%B6.jpg"
                        alt="" title="">
                    <!--港式冻柠茶</div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/k8cFiLBhtNjuawvq" target="_blank"
                        title="招牌菜">港式冻柠茶</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        做港式冻柠茶,首先要选择新鲜的柠檬,因为只有新鲜的,味道才更香浓,而且口感更好。
                        冰镇过后,酸酸甜甜冰冰爽爽,健康又好喝!
                        炎炎夏日,没有什么比喝上一杯柠檬茶更清爽了。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    </div><br /><br />

</body>