<!DOCTYPE html>

<html lang="zh-CN">
<link href="css/传统_醉古今_餐厅样式.css" type="text/css" rel="stylesheet" />
<script src="js/top_roll.js"></script>

<head>
    <meta charset="UTF-8">
    <title>餐厅介绍</title>
</head>

<!-- <div class="kong-wrap">
    <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
    <div class="mianbao-item"><a class="mianbao-a" href="../../餐厅推荐.html">特色餐厅推荐</a> </div>
  </div> -->

<body>

    <header>

        <h1></h1>
        <!--<img src="images/background1.jpg" alt="背景图片">-->

    </header>
    <br />
    <div class="locate">地址:陕西省西安市雁塔区长延堡天坛西路杏园小区南区醉古今(明德门店) 距地铁2号线电视塔站(A2西北口)1.1km，步行15min</div>
    <br />
    <div class="title1">醉古今招牌菜</div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E9%86%89%E5%8F%A4%E4%BB%8A_%E9%BB%84%E6%B2%B3%E7%B3%96%E9%86%8B%E9%B2%A4%E9%B1%BC.jpg"
                        alt="" title="">
                    <!--传统_醉古今_黄河糖醋鲤鱼.jpg-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://t.dianping.com/deal/840534997" target="_blank"
                        title="招牌菜">黄河糖醋鲤鱼</a></div>


                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        糖醋黄河鲤鱼是山东济南的传统名菜。济南北临黄河，故烹饪所采用的鲤鱼就是黄河鲤鱼。此鱼生长在黄河深水处，头尾金黄，全身鳞亮，肉质肥嫩，是宴会上的佳品。《济南府志》上早有“黄河之鲤，南阳之蟹，且入食谱”的记载。据说：“糖醋黄河鲤鱼”最早始于黄河重镇——洛口镇。这里的厨师喜用活鲤鱼制作此菜，并在附近地方有些名气，后来传到济南。厨师在制作时，先将鱼身割上刀纹，外裹芡糊，下油炸后，头尾翘起，再用著名的洛口老醋加糖制成糖醋汁，浇在鱼身上。此菜香味扑鼻，外脆里嫩，且带点酸，不久便成为名菜馆中的一道佳肴。
                    </div>
                    <div class="data"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E9%86%89%E5%8F%A4%E4%BB%8A_%E8%91%AB%E8%8A%A6%E9%B8%A1.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/GagtrTeg5WUSLGk7/dish696482086"
                        target="_blank" title="招牌菜">葫芦鸡</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        葫芦鸡是陕西省西安市传统风味名菜，始于唐代。葫芦鸡的制作分清煮、蒸笼、油炸三道工序。
                        制作时先放在清水中漂洗，除净血污，煮时用麻丝将鸡捆好，以保持鸡的整形，待锅内凉水烧沸，投入鸡，煮半小时取出，盛入盆内，添肉汤、料酒、精盐、酱油、葱、姜、八角、桂皮，入笼蒸透。油炸时，将菜籽油烧八成热投入蒸好的整鸡，用手勺拨动，至鸡是金黄色时，用漏勺捞出，沥油，随即盛盘中，上桌时另带小蝶花椒盐佐食。色泽金红，皮酥肉嫩，香烂味醇，筷到骨脱。含有丰富蛋白质和人体所需的饱和脂肪酸。
                        2018年9月，被评为“中国菜”之陕西十大经典名菜。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E9%86%89%E5%8F%A4%E4%BB%8A_%E4%B9%9D%E8%BD%AC%E5%A4%A7%E8%82%A0.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/GagtrTeg5WUSLGk7/dish639962952"
                        target="_blank" title="招牌菜">九转大肠</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        九转大肠（Braised intestines in brown sauce），是中国山东省济南市的传统名菜，属于山东菜系。 [4]
                        九转大肠是以猪大肠为主料，加以葱、姜、芫荽等配料，通过煮、烧等烹饪技法制作而成，成菜后有辣觉，并且酸、甜、香、咸四味俱全，色泽红润，质地软嫩。 [4]
                        2018年9月10日，“九转大肠”入选“中国菜”中的“山东十大经典名菜”名单。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    </div><br /><br />

</body>