<!DOCTYPE html>

<html lang="zh-CN">
<link href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/css/%E5%85%B0%E6%B9%98%E5%AD%90%E6%B9%98%E8%8F%9C%E5%B0%8F%E7%82%92_%E9%A4%90%E5%8E%85%E6%A0%B7%E5%BC%8F.css" type="text/css" rel="stylesheet" />
<script src="js/top_roll.js"></script>

<head>
    <meta charset="UTF-8">
    <title>餐厅介绍</title>
</head>

<!-- <div class="kong-wrap">
    <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
    <div class="mianbao-item"><a class="mianbao-a" href="../../餐厅推荐.html">特色餐厅推荐</a> </div>
</div> -->

<body>
<button name="button" onclick="history.back()">返回上一页</button>
<button name="button" onclick="window.location.href = '/zhongguocai/index'">返回主页</button>
    <header>

        <h1></h1>
        <!--<img src="images/background1.jpg" alt="背景图片">-->

    </header>
    <br />
    <div class="locate">地址：浐河东路凯德广场3楼（近御锦城） 电话： 029-83333193</div>
    <br />
    <div class="title1">兰湘子招牌菜</div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E5%85%B0%E6%B9%98%E5%AD%90_%E4%B8%80%E5%93%81%E9%B2%9C%E8%99%BE.jpg"
                        alt="" title="">
                    <!--一品鲜虾;"></div>-->

                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/l3rZpG06NI7ihkAq/dish795236060"
                        target="_blank" title="招牌菜">一品鲜虾豆腐花</a></div>


                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        以豆花、 鲜虾为主料的菜品
                        鲜虾豆花是一道菜品，制作材料有现点豆花、腌好的鲜虾、碎花生仁、香菜末、红油、花椒面、精盐、鸡汤、鸡精、味精、色拉油等。菜色泽红亮、鲜嫩爽滑、微带麻辣。
                    </div>
                    <div class="data"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E5%85%B0%E6%B9%98%E5%AD%90_%E6%B9%96%E5%8D%97%E8%BE%A3%E6%A4%92%E7%82%92%E8%82%89.jpg"
                        alt="" title="">
                    <!--<div 湖南辣椒炒肉</div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/l3rZpG06NI7ihkAq/dish807356398"
                        target="_blank" title="招牌菜">湖南辣椒炒肉</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        「湖南辣椒炒肉」每次必点，超级下饭
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E5%85%B0%E6%B9%98%E5%AD%90_%E9%95%BF%E6%B2%99%E8%87%AD%E8%B1%86%E8%85%90.jpg"
                        alt="" title="">
                    <!--<div 长沙臭豆腐;"></div>-->

                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/shop/l3rZpG06NI7ihkAq/dish795630170"
                        target="_blank" title="招牌菜">长沙臭豆腐</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        「长沙臭豆腐」六块豆腐也只要8元，非常划算！长沙臭豆腐是湖南省长沙市的一道传统特色小吃，属于湘菜。
                        长沙臭豆腐以臭豆腐等食材用料烹制，其色墨黑，外焦里嫩，鲜而香辣， 焦脆而不糊、细嫩而不腻、初闻臭气扑鼻，细嗅浓香诱人。
                        2021年6月，火宫殿臭豆腐制作技艺入选国家级非遗名录。

                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    </div><br /><br />

</body>