<!DOCTYPE html>

<html lang="zh-CN">
<link href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/css/%E5%9B%BD%E5%A4%96_%E6%96%B0%E5%8A%A0%E5%9D%A1%20%E7%A6%8F%E4%B8%B4%E9%97%A8%E6%AD%A3%E5%AE%97%E7%B2%A4%E8%8F%9C%E9%A3%8E%E5%91%B3.css" type="text/css" rel="stylesheet" />
<script src="js/top_roll.js"></script>

<head>
    <meta charset="UTF-8">
    <title>餐厅介绍</title>
</head>
<!-- <div class="kong-wrap">
    <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
    <div class="mianbao-item"><a class="mianbao-a" href="../../餐厅推荐.html">特色餐厅推荐</a> </div>
</div> -->

<body>

    <header>

        <h1></h1>
        <!--<img src="images/background1.jpg" alt="背景图片">-->

    </header>
    <br />
    <div class="locate">地址：21 Amber Rd, Level 3 Chinese Swimming Club, Singapore 439870</div>
    <br />
    <div class="title1">福临门：正宗粤菜风味佳 欢聚畅饮好去处</div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%96%B0%E5%8A%A0%E5%9D%A1%E7%A6%8F%E4%B8%B4%E9%97%A8%E6%AD%A3%E5%AE%97%E7%B2%A4%E8%8F%9C%E9%A3%8E%E5%91%B3_%E5%85%BB%E9%A2%9C%E7%88%B5%E5%A3%AB%E6%B1%A4.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>


        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/review/652204624?source=m_jump"
                        target="_blank" title="招牌菜">养颜爵士汤</a></div>


                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        提到粤菜，不能不提到靓汤。广东老火汤，又称广府汤，是广府人传承数千年的食补养生秘方，慢火煲煮的老火靓汤。
                        广东人都擅长煲汤滋补，老火靓汤讲究老火和原汁原味，一锅汤一般只加盐调味，有时候加点姜去腥，剩下的就是时间和功夫了。“老火”之“老”就在于“煲汤时间长，火候独到”，先中火烧沸，然后小火慢煲，是名副其实的“功夫汤”。
                        这是新加坡少有的爵士汤，主要用蜜瓜、花胶、海螺、沙参、玉竹、瑶柱、干贝、瘦肉及老鸡等配料煲成，滋阴补肾，美容养颜。”喝上一口，果然汤汁浓郁，入口香甜。

                    </div>
                    <div class="data"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%96%B0%E5%8A%A0%E5%9D%A1%E7%A6%8F%E4%B8%B4%E9%97%A8%E6%AD%A3%E5%AE%97%E7%B2%A4%E8%8F%9C%E9%A3%8E%E5%91%B3_%E6%B8%AF%E5%BC%8F%E7%82%B9%E5%BF%83%E6%B8%85%E6%B7%A1%E5%8F%AF%E5%8F%A3.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>


        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/review/652204624?source=m_jump"
                        target="_blank" title="招牌菜">港式点心清淡可口</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        粤菜里不能少了Dim
                        Sum，也就是港式点心。福临门的港式点心多种多样，虾饺、烧卖、腐皮卷、鲮鱼球等应有尽有，每一样都采用新鲜的虾和鱼肉制成，清爽可口，喜爱重口味的可以蘸上甜辣酱，让口感更加丰富。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%96%B0%E5%8A%A0%E5%9D%A1%E7%A6%8F%E4%B8%B4%E9%97%A8%E6%AD%A3%E5%AE%97%E7%B2%A4%E8%8F%9C%E9%A3%8E%E5%91%B3_%E5%88%9B%E6%84%8F%E6%B5%B7%E9%B2%9C%E5%A4%A7%E5%BF%AB%E6%9C%B5%E9%A2%90.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>


        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/review/652204624?source=m_jump"
                        target="_blank" title="招牌菜">创意海鲜大快朵颐</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        粤菜味道讲究“清、鲜、嫩、滑、爽、香”，追求原料的本味、清鲜味。丰富精细的选材和清淡的口味是粤菜广受欢迎的重要原因，也是福临门餐厅备受欢迎的秘诀。
                        金瓜奶黄焗龙虾、港蒸游水顺壳鱼、红烧竹笙海味翅、红烧鲍鱼、牡蛎干、十头鲍鱼杏鲍菇扒时蔬、十二头鲍鱼扒时蔬、香炸虾枣、松菇海鲜面线、凉拌海蜇等，这些都是福临门很受欢迎的家常菜。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />


    </div>


</body>