<!DOCTYPE html>

<html lang="zh-CN">
<link href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/css/%E5%9B%BD%E5%A4%96_%E6%B4%9B%E6%9D%89%E7%9F%B6_%E6%9C%80%E8%83%BD%E6%BB%A1%E8%B6%B3%E4%B8%AD%E5%9B%BD%E8%83%83%E7%9A%84%E5%9F%8E%E5%B8%82_%E9%A4%90%E5%8E%85%E6%A0%B7%E5%BC%8F.css" type="text/css" rel="stylesheet" />
<script src="js/top_roll.js"></script>

<head>
    <meta charset="UTF-8">
    <title>餐厅介绍</title>
</head>
<!-- <div class="kong-wrap">
    <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
    <div class="mianbao-item"><a class="mianbao-a" href="../../餐厅推荐.html">特色餐厅推荐</a> </div>
  </div> -->

<body>

    <header>

        <h1></h1>
        <!--<img src="images/background1.jpg" alt="背景图片">-->

    </header>
    <br />
    <div class="locate">洛杉矶</div>
    <br />
    <div class="title1">洛杉矶多家好吃的中餐馆 </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%B4%9B%E6%9D%89%E7%9F%B6_%E6%9C%80%E8%83%BD%E6%BB%A1%E8%B6%B3%E4%B8%AD%E5%9B%BD%E8%83%83%E7%9A%84%E5%9F%8E%E5%B8%82_%E9%BC%8E%E6%B3%B0%E4%B8%B0%20Din%20Tai%20Fung%20-%20Century%20City.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://www.dianping.com/review/865648724?source=m_jump"
                        target="_blank" title="招牌菜">鼎泰丰 Din Tai Fung - Century City</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        地址：10250 Santa Monica Blvd. Level 2, Century City
                        这个来自台湾的小笼包连锁品牌，以拥有完美比例馅料和超薄外皮的小笼包征服了全世界。炒饭粒粒分明，面条筋道爽口，奶茶甜而不腻。更有上海风味的饺子被评为洛杉矶最好的饺子之一。
                    </div>
                    <div class="data"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%B4%9B%E6%9D%89%E7%9F%B6_%E6%9C%80%E8%83%BD%E6%BB%A1%E8%B6%B3%E4%B8%AD%E5%9B%BD%E8%83%83%E7%9A%84%E5%9F%8E%E5%B8%82_%E7%9C%89%E5%B7%9E%E4%B8%9C%E5%9D%A1%20Meizhou%20Dongpo.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a
                        href="https://www.chineseinla.cn/restaurant/task_view/id_23534/%E7%9C%89%E5%B7%9E%E4%B8%9C%E5%9D%A1%E9%85%92%E6%A5%BC.html"
                        target="_blank" title="招牌菜">眉州东坡 Meizhou Dongpo</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        来自中国的川味餐馆，除经典川菜外，还以北京烤鸭而闻名。烤至焦糖色外皮的鸭肉，被片成适口的薄片，搭配浓浓的甜面酱，美味不可挡。
                        地址：10250 Santa Monica Blvd. Level 2, Century City
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%B4%9B%E6%9D%89%E7%9F%B6_%E6%9C%80%E8%83%BD%E6%BB%A1%E8%B6%B3%E4%B8%AD%E5%9B%BD%E8%83%83%E7%9A%84%E5%9F%8E%E5%B8%82_Yang%20Chow%20-%20Chinatown.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://yangchow.com/" target="_blank" title="招牌菜">Yang Chow -
                        Chinatown</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        1977年开业的Yang Chow餐厅一直名列洛杉矶最佳中餐厅榜单。店内装饰着中国山水画，环境优雅舒适。特色川菜用料十足，最有名的滑虾更是保留住了虾本身的鲜嫩多汁。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>

                <hr>
            </div>
        </div>
    </div>
    <br />

    </div>

</body>