<!DOCTYPE html>

<html lang="zh-CN">
<link href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/css/%E5%9B%BD%E5%A4%96_%E6%97%A0%E6%8B%9B%E7%89%8C%E6%B5%B7%E9%B2%9C%E9%A4%90%E5%8E%85%28%E8%8A%BD%E7%AC%BC%E5%BA%97%29%20No%20Signboard%20Seafood%28Geylang%29_%E9%A4%90%E5%8E%85%E6%A0%B7%E5%BC%8F.css" type="text/css" rel="stylesheet" />
<script src="js/top_roll.js"></script>

<head>
    <meta charset="UTF-8">
    <title>餐厅介绍</title>
</head>

<!-- <div class="kong-wrap">
    <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
    <div class="mianbao-item"><a class="mianbao-a" href="../../餐厅推荐.html">特色餐厅推荐</a> </div>
</div> -->

<body>
<button name="button" onclick="history.back()">返回上一页</button>
<button name="button" onclick="window.location.href = '/zhongguocai/index'">返回主页</button>
    <header>

        <h1></h1>
        <!--<img src="images/background1.jpg" alt="背景图片">-->

    </header>


    <br />
    <div class="locate">地址：新加坡 芽笼路414号 电话：+65-68423415</div>
    <br />
    <div class="title1">无招牌海鲜餐厅(芽笼店) No Signboard Seafood(Geylang) </div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%97%A0%E6%8B%9B%E7%89%8C%E6%B5%B7%E9%B2%9C%E9%A4%90%E5%8E%85%28%E8%8A%BD%E7%AC%BC%E5%BA%97%29%20No%20Signboard%20Seafood%28Geylang%29_%E8%BE%A3%E6%A4%92%E8%9E%83%E8%9F%B9.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>


        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://you.ctrip.com/food/singapore53/452019.html" target="_blank"
                        title="招牌菜">辣椒螃蟹</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        基本上新加坡的地道菜他们家都可以吃到。肉质新鲜，弹牙紧实，饱满又入味，食材一级棒。三个人点了二只蟹，一盘蔬菜一盘扇贝，几瓶啤酒，300新元。比珍宝海鲜便宜20[%]。
                    </div>
                    <div class="data"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%97%A0%E6%8B%9B%E7%89%8C%E6%B5%B7%E9%B2%9C%E9%A4%90%E5%8E%85%28%E8%8A%BD%E7%AC%BC%E5%BA%97%29%20No%20Signboard%20Seafood%28Geylang%29_%E8%84%86%E7%9A%AE%E9%BA%A6%E9%A6%99%E5%B0%8F%E9%BE%99%E8%99%BE.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://you.ctrip.com/food/singapore53/452019.html" target="_blank"
                        title="招牌菜">脆皮麦香小龙虾</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        除了辣椒螃蟹，脆皮麦香小龙虾无疑是热门之选。鲜嫩多汁的小龙虾与麦香味谷物相搭配，更具宜人的酥脆口感。有机会值得去品品。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />


    <br />
    <div class="caipincontent ">
        <div class="caipinimg">
            <div class="caipinimg1 block1">
                <div class="img">
                    <!--<a href="https://www.toutiao.com/article/7240755850111894051/?channel=&amp;source=news" target="_blank">-->
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%97%A0%E6%8B%9B%E7%89%8C%E6%B5%B7%E9%B2%9C%E9%A4%90%E5%8E%85%28%E8%8A%BD%E7%AC%BC%E5%BA%97%29%20No%20Signboard%20Seafood%28Geylang%29_%E6%A4%B0%E5%AD%90%E5%86%B0%E6%B7%87%E6%B7%8B.jpg"
                        alt="" title="">
                    <!--<div class="mask"
                        style="background-image: url(/images/);"></div>-->
                    </a>
                </div>
            </div>
        </div>

        <div class="caipintxt">
            <div class="caipintxt1 cur">
                <div class="caipinitle"><a href="https://you.ctrip.com/food/singapore53/452019.html" target="_blank"
                        title="招牌菜">椰子冰淇淋</a></div>

                <div class="caipintxt11">
                    <div style="font-size: 16px;">
                        椰子冰淇淋是泰国的一道甜品,主要食材是椰子汁。正宗的椰子冰淇淋乳白色,有奶油椰子香味,冰凉爽口,入口即化。
                    </div>
                    <div class="data">2023.07.01</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br />

    </div><br /><br />

</body>