<!DOCTYPE html>

<html lang="zh">
<link href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/css/%E9%A4%90%E5%8E%85%E6%8E%A8%E8%8D%90.css" type="text/css" rel="stylesheet" />

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>餐厅</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

</head>

<!--
<div class="kong-wrap">
  <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
  <div class="mianbao-item"><a class="mianbao-a" href="./餐厅推荐.html">特色餐厅推荐</a> </div>
</div>
-->


<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <div class="logo">
            <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%9B%BE%E6%A0%87.png
    " alt="Logo" />
            <h2>中国菜宣传</h2>
        </div>

     <!--   <div class="search">
            <input type="text" placeholder="搜索" />
            <button class="weibo-btn">
                <i class="fab fa-weibo"></i>
            </button>
        </div>-->
    </div>

    <div class="menu">
        <ul>
            <li id="home" class="menu-item"><a href="../首页加资讯/首页.html">首页</a></li>
            <li class="menu-item"><a href="餐厅推荐.html">餐厅</a></li>
            <li class="dropdown menu-item">
                <a href="info.html">资讯</a>
                <div class="dropdown-menu">
                    <a href="../首页加资讯/info_reports.html">#专题报道</a>
                    <a href="../首页加资讯/info_news.html">#新闻动态</a>
                    <a href="../首页加资讯/info_notification.html">#通知公告</a>
                </div>
            </li>
            <li class="dropdown menu-item">
                <a href="#">清单</a>
                <div class="dropdown-menu">
                    <a href="#">#国内外高分菜谱</a>
                    <a href="#">#中国菜传承人名单</a>
                    <a href="#">#中国美食之都(包括5座联合国官方承认)</a>
                    <a href="#">#中国菜典型食材特点及可替代品名单</a>
                    <a href="#">#中国菜首次公开名单</a>
                </div>
            </li>
            <li class="dropdown menu-item">
                <a href="#">资源</a>
                <div class="dropdown-menu">
                    <a href="#">#影像</a>
                    <a href="#">#美食图集</a>
                    <a href="#">#H5鉴赏</a>
                </div>
            </li>
            <li class="menu-item"><a href="#">论坛</a></li>
            <li class="menu-item"><a href="../知识窗/知识窗.html">知识窗</a></li>
        </ul>
        <div class="slider" id="slider"></div>
    </div>

    <!--<div id="info" class="info-container">-->
    <!--    <div class="mianbao-mod" style="z-index:1;">&lt;!&ndash;面包屑导航&ndash;&gt;-->
    <!--        <div class="kong-wrap">-->
    <!--            <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>-->
    <!--            <div class="mianbao-item"><a class="mianbao-a" href="./info.html">资源</a></div>-->
    <!--        </div>-->
    <!--    </div>-->


    <!--    <header>-->

    <!--        <h1>特色餐厅</h1>-->

    <!--    </header>-->

    <div class="dl">
        <div class="container">

            <div class="row">

                <div class="col-md-4">

                    <div class="topic">

                        <h2>国内老字号</h2>
                        <div class="row">

                            <div class="col-md-4">

                                <div class="box">

                                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E9%86%89%E5%8F%A4%E4%BB%8A_background1.jpg
                                        " alt="Image 1">

                                    <h3>醉古今</h3>

                                    <p>醉古今古老庭院 找寻传统陕菜的魅力 在这里 环境雅致书香怡人 品尝美食就是要这种恬静舒心的氛围 亮点特色 招牌葫芦鸡.</p>

                                    <a href="zuigujin">详情</a>

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="box">

                                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E5%85%B0%E6%B9%98%E5%AD%90.jpg
                                        " alt="Image 2">

                                    <h3>兰湘子•湘菜小炒</h3>

                                    <p>2020年到2022年，获美团点评全国餐饮标杆案例榜样品牌，并获得全国40余家媒体报道。

                                        获西安市人民政府&西安市商务局颁发的《国际美食之都》—湘菜品牌示范店荣誉称号。

                                        荣获西安消费促进年组委会颁发的2021西安最具影响力餐饮品牌奖。

                                        荣获湖南省餐饮行业协会副会长单位。

                                        成功上榜大众点评西安必吃榜湘菜品牌。
                                        .</p>

                                    <a href="lanxiangzi">详情</a>

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="box">

                                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E4%BC%A0%E7%BB%9F_%E7%9F%B3%E8%AE%B0%E6%B8%AF%E5%BC%8F%E8%8C%B6%E9%A4%90%E5%8E%85_%E6%B8%AF%E5%BC%8F%E8%8C%B6%E9%A4%90%E5%8E%85.jpg
                                        " alt="Image 3">

                                    <h3>石记港式茶餐厅</h3>

                                    <p>
                                        石记港式茶餐厅致力于为消费者提供冷饮、港式糕点、牛排套餐、炸鸡块等，美味可口，价格实惠石记港式茶餐厅坚持精选上等、天然、健康食材，断然拒绝添加剂、色素、防腐剂塑化剂等危害人体物质。“石记”坚持使用较新鲜、很好的原料，当日内现用、现煮、现售。“石记”坚持很好的产品品质，不间断的创新研发，使产品更多样化，老少皆宜，四季不衰。
                                    </p>

                                    <a href="shiji">详情</a>

                                </div>

                            </div>
                            <br /><br /><br /><br />

                        </div>
                        <br /><br /><br /><br />

                        <h2>国外开驻</h2>
                        <div class="row">

                            <div class="col-md-4">

                                <div class="box">

                                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%96%B0%E5%8A%A0%E5%9D%A1%E7%A6%8F%E4%B8%B4%E9%97%A8%E6%AD%A3%E5%AE%97%E7%B2%A4%E8%8F%9C%E9%A3%8E%E5%91%B3_%E6%96%B0%E5%8A%A0%E6%8A%AB%E7%A6%8F%E4%B8%B4%E9%97%A8.jpg
                                        " alt="Image 1">

                                    <h3>新加坡 福临门：正宗粤菜风味</h3>

                                    <p>
                                        在新加坡这个国际化大都市里，粤菜的身影也时常可见，但能找到一处环境雅致、食材新鲜、味道正宗、价格合适的粤菜馆并不容易。位于东海岸中华游泳会3楼的福临门就是很多爱吃粤菜的饕餮们的首选。
                                    </p>

                                    <a href="fulinmen">详情</a>

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="box">

                                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%97%A0%E6%8B%9B%E7%89%8C%E6%B5%B7%E9%B2%9C%E9%A4%90%E5%8E%85%28%E8%8A%BD%E7%AC%BC%E5%BA%97%29%20No%20Signboard%20Seafood%28Geylang%29_background1.jpg
                                        " alt="Image 2">

                                    <h3>新加披 无招牌海鲜餐厅(芽笼店) No Signboard Seafood(Geylang)</h3>

                                    <p>
                                        餐厅创立于1981年，现在已经凭借其原创新颖的菜单而蜚声全岛。除了辣蟹，麦片虾无疑也是热门之选。鲜嫩多汁的虾肉与麦香味谷物相搭配，更兼具宜人的酥脆口感。闽式清蒸鱼美味下饭，嫩滑的豆腐则带有天然的甘甜。
                                        两个人点一只螃蟹，再加上两盘清淡滑爽的菜品，绝对称得上是完美一餐。</p>

                                    <a
                                        href="wuzhaopai">详情</a>

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="box">

                                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/yyy_images/%E5%9B%BD%E5%A4%96_%E6%B4%9B%E6%9D%89%E7%9F%B6%20_%20%E6%9C%80%E8%83%BD%E6%BB%A1%E8%B6%B3%E4%B8%AD%E5%9B%BD%E8%83%83%E7%9A%84%E5%9F%8E%E5%B8%82_background1.jpg
                                        " alt="Image 3">

                                    <h3>洛杉矶 – 最能满足中国胃的城市</h3>

                                    <p>君不知,洛杉矶的中餐,聊慰了多少海外学子思家乡美食之苦,满足了多少游客大快朵颐之乐。</p>

                                    <a href="luoshanji">详情</a>

                                </div>

                            </div>
                            <br /><br /><br /><br />

                        </div>
                        <br /><br /><br /><br />

                    </div>

                </div>


            </div>

        </div>


    </div>


    <!-- <br/>

     <section id="关于我们">

         <li><a href="#关于我们">关于我们</a></li>

         <p>我们是一家致力于提供优质服务的机构。</p>

     </section>

     <section id="联系我们">

         <li><a href="#联系我们">联系我们</a></li>

         <p>电话：123456789</p>

         <p>邮箱：example@example.com</p>

     </section>

     <footer>

         <p>版权所有 &copy; 2022 我们机构</p>

     </footer>
 -->
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A4%90%E5%8E%85/js/%E6%BB%91%E5%9D%97.js"></script>
</body>

</html>