<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A6%96%E9%A1%B5.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A22.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A23.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A24.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A25.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A26.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A27.css
">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A28.css
">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullpage.js/dist/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>

</head>

<body>
<!-- 导航栏 -->
<div class="navbar">
    <div class="logo">
        <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%9B%BE%E6%A0%87.png
" alt="Logo"/>
        <h2>中国菜宣传</h2>
    </div>

    <!--<div class="search">
        <input type="text" placeholder="搜索" />
        <button class="weibo-btn">
            <i class="fab fa-weibo"></i>
        </button>
    </div>-->
</div>

<div class="menu">
    <ul>
        <li id="home" class="menu-item"><a href="index">首页</a></li>
        <li class="menu-item"><a href="canting">餐厅</a></li> <!--还没有加-->
        <li class="dropdown menu-item">
            <a href="info">资讯</a>
            <div class="dropdown-menu">
                <a href="info_reports">#专题报道</a>
                <a href="info_news">#新闻动态</a>
                <a href="info_notification">#通知公告</a>
            </div>
        </li>
        <li class="dropdown menu-item">
            <a href="caipu">清单</a>
            <div class="dropdown-menu">
                <a href="caipu">#国内外高分菜谱</a>
                <a href="chuanchengren">#中国菜传承人名单</a>
                <a href="chengshi">#中国美食之都(包括5座联合国官方承认)</a>
                <a href="shicai">#中国菜典型食材特点及可替代品名单</a>
                <a href="mingdan">#中国菜首次公开名单</a>
            </div>
        </li>
        <li class="dropdown menu-item">
            <a href="tupian">资源</a>
            <div class="dropdown-menu">
                <a href="yingxiang">#影像</a>
                <a href="tupian">#美食图集</a>
                <a href="h5">#H5鉴赏</a>
            </div>
        </li>
        <li class="menu-item"><a href="#">图书</a></li>           <!--还未加-->
        <li class="menu-item"><a href="zhishichuang">知识窗</a></li>
    </ul>
    <div class="slider" id="slider"></div>
</div>

<!-- 首页 -->
<div id="fullpage">
    <div class="section">
        <div class="fullscreen">
            <div class="slideshow-container">
                <div class="mySlides active">
                    <img class="slide-image"
                         src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E7%BE%8E%E9%A3%9F1.png">
                </div>
                <div class="mySlides">
                    <video class="slide-video" muted>
                        <source src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5_video/%E8%88%8C%E5%B0%96%E4%B8%8A%E7%9A%84%E7%BE%8E%E9%A3%9F.mp4"
                                type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="mySlides">
                    <img class="slide-image"
                         src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E8%88%8C%E5%B0%96%E4%B8%8A%E7%9A%84%E7%BE%8E%E9%A3%9F.jpg">
                </div>
                <div class="mySlides">
                    <video class="slide-video" muted>
                        <source src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5_video/%E9%A5%AE%E9%A3%9F%E6%96%87%E5%8C%96.mp4"
                                type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
            <div class="dot-container">
                <span class="dot active" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>

        </div>
    </div>


    <!-- 第二个页面 -->
    <div class="section">
        <div class="image-container">
            <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%85%AB%E5%A4%A7%E8%8F%9C%E7%B3%BB.jpg
" alt="Image 1" class="static"/>
            <div class="scroll-container">
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%B7%9D%E8%8F%9C.jpg
" alt="Image 2"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%BE%BD%E8%8F%9C.jpg
" alt="Image 3"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E6%B5%99%E8%8F%9C.jpg
" alt="Image 4"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E6%B9%98%E8%8F%9C.jpg
" alt="Image 5"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E8%8B%8F%E8%8F%9C.jpg
" alt="Image 6"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E9%97%BD%E8%8F%9C.jpg
" alt="Image 7"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E9%B2%81%E8%8F%9C.jpg
" alt="Image 8"/>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E7%B2%A4%E8%8F%9C.jpg
" alt="Image 9"/>
            </div>
        </div>
    </div>


    <!-- 第三个页面 -->
    <div class="section">
        <div class="beijing">
            <div class="image-container">
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E4%B9%A6.png
">
                <div class="image-text">中<br>国<br>菜<br>首<br>次<br>公<br>开<br>名<br>单</div>
                <div class="image-text2"><a href="#">加<br>载<br>更<br>多</a></div>
            </div>
        </div>
    </div>

    <!-- 第四个页面 -->
    <div class="section">
        <div class="sibeijing">
            <div class="box1">
                <div class="dongtai">
                    <a href="info_news">新闻动态</a>
                </div>
                <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/101.jfif"><br><br>
                <a href="https://www.toutiao.com/article/6971796686192673319/?channel=&source=news">历史的积淀，看中国十大名菜...&nbsp;2023-06-09</a><br><br>
                <a href="https://www.toutiao.com/article/6740434925381485064/?channel=&source=news">新时代中国菜留洋海外...&nbsp;2019-09-25</a><br><br>
                <a href="https://www.toutiao.com/article/7017754823609139719/?channel=&source=news">路在何方，中国菜的创新...&nbsp;2021-10-11</a><br><br>
                <a href="https://www.toutiao.com/article/6714081518525874700/?channel=&source=news">十道勾魂川菜制作...&nbsp;2019-07-16</a><br><br>
                <a href="https://www.toutiao.com/article/6747488978556944910/?channel=&source=news">为一口美食，赶赴一座城!...&nbsp;2019-10-14</a>
                <div style="border-bottom: 3px dotted #ACACAC;"></div>
            </div>

            <div class="box3">
                <div class="dongtaiyou">
                    <br><br>                <!--图书管理部分，还未添加-->
                    <a href="#">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈...</a>
                    <br><br><br><br>
                    <div style="border-bottom: 3px dotted #ACACAC;"></div>
                    <br><br>
                    <a href="#">哈哈哈哈哈哈哈哈哈<br><br>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈...</a>
                    <br><br><br><br>
                    <div style="border-bottom: 3px dotted #ACACAC;"></div>
                    <br><br>
                    <a href="#">哈哈哈哈哈哈哈哈哈哈<br><br>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈...</a>
                    <br><br><br><br>
                    <div style="border-bottom: 3px dotted #ACACAC;"></div>
                </div>

                <div class="box2">
                    <div class="baodao">
                        <a href="info_reports">专题报告</a>
                    </div>
                    <br><br><br><br>
                    <a href="https://www.toutiao.com/article/7236958722642215463/?channel=&source=news">运河美食·江苏...&nbsp;2023-05-25</a><br><br><br>
                    <a href="https://www.toutiao.com/article/7222944242883265081/?channel=&source=news">南宁：非遗美食飘香,食客...&nbsp;2023-04-17</a><br><br><br>
                    <a href="https://www.toutiao.com/article/7244711903346409995/?channel=&source=news">喀什：沉浸式”美食之旅—...&nbsp;2023-06-15</a>
                    <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E7%8B%AE%E5%AD%90%E5%A4%B4.png">
                </div>
            </div>
        </div>

    </div>

    <!-- 第五个页面 -->
    <div class="section">
        <!-- 左边图片 -->
        <div class="boxz">

        </div>
        <!-- 右边人物简介 -->
        <div class="boxy">
            <div class="yzt">中<br>国<br>菜<br>传<br>承<br>人</div>
            <div class="yi"><a href="https://zhuanlan.zhihu.com/p/337412673">楚菜卢永良··文化使美食更精彩，美食使文化更深远</a>
            </div>
            <div class="er"><a href="https://epaper.scdaily.cn/shtml/scrb/20220111/267779.shtml">川菜张中尤··让川菜传统烹饪技艺代代流芳</a>
            </div>
            <div class="san"><a href="http://sd.sina.com.cn/yantai/news/2022-07-14/city-yt-imizirav3370959.shtml">鲁菜尹力强··传世鲁菜&nbsp;一口入魂</a>
            </div>
            <div class="si"><a href="https://www.sohu.com/a/454642281_395265">徽菜鲍兴··传承百年的历史、文化和基因</a>
            </div>
            <div class="wu"><a href="https://new.qq.com/rain/a/20201209A02ES200">闽菜罗世杰··一生一事一坛香</a>
            </div>
            <div class="liu"><a href="#">查<br>看<br>更<br>多</a></div>
        </div>
    </div>

    <!-- 第六个页面 -->
    <div class="section">
        <div class="shouhui">
            <div class="pan1"><img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E7%9B%98%E5%AD%901.png
" alt=""></div>
            <div class="pan2"><img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E7%9B%98%E5%AD%902.png
" alt=""></div>
            <div class="zi1">
                <h2>中国菜振兴计划</h2><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span>为了弘扬中华美食文化，加强中国菜的传承与振兴，文化部、农业农村部、商务部联合制定了《中国菜振兴计划》。该计划旨在推动中国菜传统工艺的发展和创新，提升菜品质量和服务水平，推广优秀的菜系和烹饪技艺。计划将加强菜品研发和培训，促进菜品供应链的升级和优化，推动中国菜在国内外市场的影响力和竞争力的提升。通过这一计划，我们将共同努力，让中国菜在世界范围内展现出更加鲜明的独特魅力。</span>
            </div>
            <div class="zi2">
                <h2>中国菜传承人研修培训计划</h2><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span>“中国菜传承人研修培训计划”是由中国烹饪协会主办的一个培训项目，旨在传承和弘扬中国传统美食文化，提高中国菜的烹饪技艺和服务水平。该计划为期一年，包括理论学习、实践操作、考核评估等环节，培训内容涵盖了中国菜的历史、文化、烹饪技巧、食材选用、营养搭配等方面。该计划的学员主要是来自全国各地的厨师，他们可以通过这个计划学习到更多的烹饪技巧和知识，提高他们的专业水平，并且可以结识更多的同行。</span>
            </div>
        </div>
    </div>

    <!-- 第七个页面 -->
    <div class="section">
        <div class="laoqi">
            <div id="swiper"></div>
            <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/card.js
"></script>
            <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/script.js
"></script>
        </div>
    </div>


    <!-- 第八个页面 -->
    <div class="section">
        <div class="laoba">
            <div class="zuohe">
                <div class="youqing">友情链接</div>
                <br><br><br>
                <a href="http://www.ccas.com.cn/">中国烹饪协会</a><br><br>
                <a href="https://tv.cctv.com/">央视网:美食中国</a><br><br>
                <a href="https://www.meishichina.com/">美食天下</a><br><br>
                <a href="https://tv.cctv.com/2017/01/19/VIDAtIyRXSWBaJGZ1itGdZFE170119.shtml">舌尖上的中国</a><br><br>
                <a href="https://www.cupk.edu.cn/">中国石油大学（北京）克拉玛依校区</a>
            </div>
            <div class="youhe">
                地方美食网<br><br><br>
                <a
                        href="https://topic.visitbeijing.com.cn/site/2018/S/foods/index.html">北京</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://travel.qunar.com/p-cs299957-tianjin-meishi">天津</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1629084869466551788">河北</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/202603587_100014697">山西</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.163.com/dy/article/H7SR8TPI0552IASZ.html">内蒙古</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/441510651">辽宁</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1715085040749619934">吉林</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/203276734_100040190">黑龙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/269648160">上海</a><br><br>
                <a href="http://www.jsmsw.cc/">江苏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/208793760_573793">浙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/428072292">安徽</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.xiangha.com/xiaochi/fujiansheng/">福建</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                        href="https://www.sohu.com/a/204651250_100040190">江西</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1717857331230543492">山东</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://uhenan.com/Delicious/Index">河南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.1797.com.cn/">湖北</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.hunmsw.cn/">湖南</a><br><br>
                <a href="http://yjmeishi.net/pc/home/">广东</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://tv.cctv.com/yskd/wdzg/gxwd/index.shtml">广西</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/355886380_120146412">海南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.sjsdcq.com/">重庆</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.cwroom.com/wenhua/">四川</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://travel.qunar.com/p-sf297315-guizhou-meishi">贵州</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://culture.yunnan.cn/food/">云南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                        href="https://www.tibet3.com/lvyou/wcfq/ysh/2018-05-09/76473.html">西藏</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://dfz.shaanxi.gov.cn/sxts/mytc/">陕西</a><br><br>
                <a href="https://zhuanlan.zhihu.com/p/432028350">甘肃</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.xiangha.com/xiaochi/qinghaisheng/">青海</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/198855996_100040190">宁夏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.xinjiangnet.com.cn/mspd/">新疆</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="dilan">
                <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">版权与免责声明</a>
                <br><br>
                <span>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</span>
            </div>
        </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullpage.js/dist/fullpage.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new fullpage('#fullpage', {
            autoScrolling: true,
            navigation: true
        });
    });
</script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E9%A6%96%E9%A1%B5.js
"></script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E5%85%AB%E5%BC%A0%E5%9B%BE%E7%89%87.js
"></script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E6%BB%91%E5%9D%97.js
"></script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E6%8D%A2%E5%9B%BE%E7%89%87.js
"></script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E7%9B%98%E5%AD%90%E5%87%BA%E7%8E%B0.js
"></script>

</body>

</html>