<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
<h2>添加图书</h2>
<form action="" method="post">
    请输入图书名称: <input id="name" name="name" type="text"><br><br>
    请输入图书ISBN: <input id="ISBN" name="ISBN" type="text"><br><br>
    请输入图书作者: <input id="author" name="author" type="text"><br><br>
    请输入图书价格: <input id="price" name="price" type="text" placeholder="请输入数字"><br><br>
    请输入图书出版社: <input id="company" name="company" type="text"><br><br>
    请输入图书出版时间: <input id="time" name="time" type="date"><br><br>
    <input type="submit" value="确认">
    <input type="reset" value="重置">
</form>
<button name="button" onclick="history.back()">返回</button>
</body>
</html>