<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/tupian_ziyuan.css}">
<link href="">

<head>
    <meta charset="UTF-8">
    <title>美食图集</title>
</head>
<body>
<!--    这下面是导航栏-->
<!-- 导航栏 -->
<div class="blank"></div>
<div class="navbar">
    <div class="logo">
        <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5_images/%E7%BD%91%E7%AB%99%E5%9B%BE%E6%A0%87.png"
             alt="Logo"/>
        <h2>中国菜宣传</h2>
    </div>

<div class="menu">
    <ul>
        <li id="home" class="menu-item"><a href="index">首页</a></li>
        <li class="menu-item"><a href="canting">餐厅</a></li> <!--还没有加-->
        <li class="dropdown menu-item">
            <a href="info">资讯</a>
            <div class="dropdown-menu">
                <a href="info_reports">#专题报道</a>
                <a href="info_news">#新闻动态</a>
                <a href="info_notification">#通知公告</a>
            </div>
        </li>
        <li class="dropdown menu-item">
            <a href="caipu">清单</a>
            <div class="dropdown-menu">
                <a href="caipu">#国内外高分菜谱</a>
                <a href="chuanchengren">#中国菜传承人名单</a>
                <a href="chengshi">#中国美食之都(包括5座联合国官方承认)</a>
                <a href="shicai">#中国菜典型食材特点及可替代品名单</a>
                <a href="mingdan">#中国菜首次公开名单</a>
            </div>
        </li>
        <li class="dropdown menu-item">
            <a href="tupian">资源</a>
            <div class="dropdown-menu">
                <a href="yingxiang">#影像</a>
                <a href="tupian">#美食图集</a>
                <a href="h5">#H5鉴赏</a>
            </div>
        </li>
        <li class="menu-item"><a href="foodbook">图书</a></li>           <!--还未加-->
        <li class="menu-item"><a href="zhishichuang">知识窗</a></li>
    </ul>
    <div class="slider" id="slider"></div>
</div>



<!--    这上面是导航栏-->
<div id="info" class="info-container">
    <div class="mianbao-mod" style="z-index:1;"><!--面包屑导航-->
        <div class="kong-wrap">
            <div class="mianbao-item"><a class="mianbao-a" href="index">首页</a></div>
            <div class="mianbao-item"><a class="mianbao-a" href="tupian">资源</a></div>
        </div>
    </div>

    <div class="box1" id="ding">
        <div class="kong-wrap">
            <div class="box-s">
                <div class="title1">资源</div>
                <div class="title2">
                    <a href="yingxiang" class="title22 title23">
                        <div class="title231">影像</div>
                    </a>
                    <a href="tupian" class="title22 title23">
                        <div class="title231">美食图集</div>
                    </a>
                    <a href="h5" class="title22 title23">
                        <div class="title231">H5赏析</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    <div id="myModel" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="img01">
    </div>

    <table class="tablecss">
        <thead>
        <tr>
            <th>图片编号</th>
            <th>图片名称(题目)</th>
            <th>图片展示(链接调用)</th>
            <th>图片的来源</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tupian,tupianStat:${tupianlist}">
            <td th:text="${tupianStat.count}"></td>
            <td th:text="${tupian.timu}"></td>
            <td>
                <img class="small-img" th:src="${tupian.tupian}" alt="图片无法显示" />
            </td>
            <td th:text="${tupian.laiyuan}"></td>
        </tr>
        </tbody>
    </table>
    <script th:src="@{/js/tupian_ziyuan.js}"></script>-->


<!--js效果部分-->

<div class="ziyuan_1">
<!--    <div class="ziyuan_2">-->
    <div class="ziyuan_3">
        <a href="#">
            <div class="tupian"><img
                    src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/chuancai.jpg">
            </div>
            <div class="wenzi">川菜</div>
        </a>
    </div>
    <div class="ziyuan_3">
        <a href="#">
            <div class="tupian"><img
                    src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/dongbeicai.jpg">
            </div>
            <div class="wenzi">东北菜</div>
        </a>
    </div>
    <div class="ziyuan_3">
        <a href="#">
            <div class="tupian"><img
                    src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/huicai.jpg"></div>
            <div class="wenzi">徽菜</div>
        </a>
    </div>
    <div class="ziyuan_3">
        <a href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/chuancai.jpg">
            <div class="tupian"><img
                    src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/lucai.jpg"></div>
            <div class="wenzi">鲁菜</div>
        </a>
    </div>
    <div class="ziyuan_3">
        <a href="#">
            <div class="tupian"><img
                    src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/mincai.jpg"></div>
            <div class="wenzi">闽菜</div>
        </a>
    </div>
    <div class="ziyuan_3">
        <a href="#">
            <div class="tupian"><img
                    src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E8%B5%84%E6%BA%90_images/sucai.jpg"></div>
            <div class="wenzi">苏菜</div>
        </a>
    </div>
<!--    </div>-->
</div>
<script th:src="@{/js/tupian_ziyuan.js}"></script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E6%BB%91%E5%9D%97.js
"></script>
</body>
</html>