<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.CaiPuMapper">
    <select id="findCaiPuById" resultType="com.cupk.pojo.CaiPu">
        select *
        from caipu
        where id = #{id}
    </select>
    <select id="findAll" resultType="com.cupk.pojo.CaiPu">
        SELECT * FROM caipu LIMIT #{size} OFFSET #{page}
    </select>



</mapper>