<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.MingDanMapper">
    <select id="findAll" resultType="com.cupk.pojo.MingDan">
        SELECT * FROM mingdan LIMIT #{size} OFFSET #{page}
    </select>
    <select id="findMingDanByStr" parameterType="java.lang.String" resultType="com.cupk.pojo.MingDan">
        SELECT * FROM mingdan
        WHERE 1=1
        <if test="searchStr!=null and searchStr!=''">
            and mingcheng like CONCAT('%',#{searchStr},'%')
            and caixi like CONCAT('%',#{searchStr},'%')
            and diqu like CONCAT('%',#{searchStr},'%')
            and zhuyaopeiliao like CONCAT('%',#{searchStr},'%')
        </if>
    </select>


</mapper>