<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.ShiCaiMapper">
    <select id="findAll" resultType="com.cupk.pojo.ShiCai">
     SELECT * FROM shicai LIMIT #{size} OFFSET #{page}
    </select>
</mapper>