<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <script type="text/javascript" src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/vue.min.js
"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/jquery-3.7.0.min.js
"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/slick.js
"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/info.js
"></script>

    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A6%96%E9%A1%B5.css">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/info.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A28.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>


</head>

<body>
<!-- 导航栏 -->
<div class="navbar">
    <div class="logo">
        <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%9B%BE%E6%A0%87.png
" alt="Logo"/>
        <h2>中国菜宣传</h2>
    </div>

    <!--<div class="search">
        <input type="text" placeholder="搜索"/>
        <button class="weibo-btn">
            <i class="fab fa-weibo"></i>
        </button>
    </div>-->
</div>

<div class="menu">
    <ul>
        <li id="home" class="menu-item"><a href="index">首页</a></li>
        <li class="menu-item"><a href="../餐厅/餐厅推荐.html">餐厅</a></li> <!--还没有加-->
        <li class="dropdown menu-item">
            <a href="info">资讯</a>
            <div class="dropdown-menu">
                <a href="info_reports">#专题报道</a>
                <a href="info_news">#新闻动态</a>
                <a href="info_notification">#通知公告</a>
            </div>
        </li>
        <li class="dropdown menu-item">
            <a href="caipu">清单</a>
            <div class="dropdown-menu">
                <a href="caipu">#国内外高分菜谱</a>
                <a href="chuanchengren">#中国菜传承人名单</a>
                <a href="chengshi">#中国美食之都(包括5座联合国官方承认)</a>
                <a href="shicai">#中国菜典型食材特点及可替代品名单</a>
                <a href="mingdan">#中国菜首次公开名单</a>
            </div>
        </li>
        <li class="dropdown menu-item">
            <a href="tupian">资源</a>
            <div class="dropdown-menu">
                <a href="yingxiang">#影像</a>
                <a href="tupian">#美食图集</a>
                <a href="h5">#H5鉴赏</a>
            </div>
        </li>
        <li class="menu-item"><a href="#">图书</a></li>       <!--还未加-->
        <li class="menu-item"><a href="../知识窗/知识窗.html">知识窗</a></li>
    </ul>
    <div class="slider" id="slider"></div>
</div>


<!-- 第三个页面 -->


<div id="info" class="info-container">
    <div class="mianbao-mod" style="z-index:1;"><!--面包屑导航-->
        <div class="kong-wrap">
            <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
            <div class="mianbao-item"><a class="mianbao-a" href="./info.html">资讯</a></div>
            <div class="mianbao-item"><a class="mianbao-a" href="./info_notification.html">通知公告</a></div>
        </div>
    </div>

    <div class="box111" id="ding" v-cloak>
        <div class="kong-wrap">
            <div class="box-s">
                <div class="title1">通知公告</div>
            </div>
            <div class="content1">
                <div class="content11" v-for="(item,index) in reportsList" :key="index">
                    <div class="txtformat">
                        <div class="txttitle"><a :href="item.url" target="_blank" :title="item.title">{{item.title}}</a>
                        </div>
                        <div class="date">
                            {{item.data}}
                        </div>
                        <div class="txtcontent">
                            {{item.txt}}
                        </div>
                        <br>
                        <a :href="item.url" target="_blank" class="chakan">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="section">
    <div class="laoba">
        <div class="zuohe" style="margin-top: 100px">
            <div class="youqing">友情链接</div>
            <br><br>
            <a href="http://www.ccas.com.cn/">中国烹饪协会</a><br><br>
            <a href="https://tv.cctv.com/">央视网:美食中国</a><br><br>
            <a href="https://www.meishichina.com/">美食天下</a><br><br>
            <a href="https://tv.cctv.com/2017/01/19/VIDAtIyRXSWBaJGZ1itGdZFE170119.shtml">舌尖上的中国</a><br><br>
            <a href="https://www.cupk.edu.cn/">中国石油大学（北京）克拉玛依校区</a>
        </div>
        <div class="youhe" style="margin-top: 100px">
            地方美食网<br><br><br>
            <a
                    href="https://topic.visitbeijing.com.cn/site/2018/S/foods/index.html">北京</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://travel.qunar.com/p-cs299957-tianjin-meishi">天津</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://baijiahao.baidu.com/s?id=1629084869466551788">河北</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.sohu.com/a/202603587_100014697">山西</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.163.com/dy/article/H7SR8TPI0552IASZ.html">内蒙古</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://zhuanlan.zhihu.com/p/441510651">辽宁</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://baijiahao.baidu.com/s?id=1715085040749619934">吉林</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.sohu.com/a/203276734_100040190">黑龙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://zhuanlan.zhihu.com/p/269648160">上海</a><br><br>
            <a href="http://www.jsmsw.cc/">江苏</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.sohu.com/a/208793760_573793">浙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://zhuanlan.zhihu.com/p/428072292">安徽</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.xiangha.com/xiaochi/fujiansheng/">福建</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a
                    href="https://www.sohu.com/a/204651250_100040190">江西</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://baijiahao.baidu.com/s?id=1717857331230543492">山东</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://uhenan.com/Delicious/Index">河南</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.1797.com.cn/">湖北</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.hunmsw.cn/">湖南</a><br><br>
            <a href="http://yjmeishi.net/pc/home/">广东</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://tv.cctv.com/yskd/wdzg/gxwd/index.shtml">广西</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.sohu.com/a/355886380_120146412">海南</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.sjsdcq.com/">重庆</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.cwroom.com/wenhua/">四川</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://travel.qunar.com/p-sf297315-guizhou-meishi">贵州</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://culture.yunnan.cn/food/">云南</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a
                    href="https://www.tibet3.com/lvyou/wcfq/ysh/2018-05-09/76473.html">西藏</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://dfz.shaanxi.gov.cn/sxts/mytc/">陕西</a><br><br>
            <a href="https://zhuanlan.zhihu.com/p/432028350">甘肃</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.xiangha.com/xiaochi/qinghaisheng/">青海</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.sohu.com/a/198855996_100040190">宁夏</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.xinjiangnet.com.cn/mspd/">新疆</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="dilan">
            <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">版权与免责声明</a>
            <br><br>
            <span>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</span>
        </div>
    </div>
</div>


<script>
    var vm = new Vue({
        el: "#ding",
        data: {
            reportsList: [
                {
                    "title": "关于《“中国菜”体系建设纲要指导意见》的发表",
                    "url": "https://www.toutiao.com/article/6753165876582679048/?channel=&source=search_tab",
                    "data": "2019-10-29",
                    "txt": "2019“中国菜”艺术节暨川菜产业创新发展大会29日在四川眉山市举行，中国烹饪协会现场发布了《“中国菜”体系建设指导意见》(以下简称《意见》)，从“中国菜”的地域菜系体系、民族菜体系和品类菜体系三方面对“中国菜”做了全新全面的梳理。"
                },
                {
                    "title": "为“菜”立法！《佛山市广府菜传承发展条例》5月1日实施",
                    "url": "https://www.toutiao.com/article/7223365589111144994/?channel=&source=news",
                    "data": "2023-04-18",
                    "txt": "佛山是岭南文化的发祥地，也是广府菜餐饮文化的重要发源地。4月18日，南都记者从新闻发布会上获悉，《佛山市广府菜传承发展条例》（以下简称《条例》）已经2023年3月30日广东省第十四届人民代表大会常务委员会第二次会议批准，将于2023年5月1日起实施。"
                },
                {
                    "title": "全国首例！《福州市闽菜技艺文化保护规定》明年施行，将带来这些“福利”",
                    "url": "https://www.toutiao.com/article/6497400980508770829/?channel=&source=news",
                    "data": "2017-12-09",
                    "txt": "2017年12月8日上午，福州市人民代表大会常务委员会召开新闻发布会，正式向社会公布了《福州市闽菜技艺文化保护规定》。据悉，《规定》的出台旨在加强闽菜技艺文化的保护，弘扬优秀传统饮食文化，促进闽菜产业健康发展，将于2018年2月1日起施行。"
                },
                {
                    "title": "部委联合发文，官方盖章的地方特色美食来了",
                    "url": "https://www.toutiao.com/article/7215965574722060857/?channel=&source=news",
                    "data": "2023-03-29",
                    "txt": "2023年3月29日，工业和信息化部、国家发展改革委、科技部、财政部、生态环境部、交通运输部、农业农村部、商务部、文化和旅游部、国家市场监管总局、中国银保监会等十一部门近日联合印发《关于培育传统优势食品产区和地方特色食品产业的指导意见》。"
                },
                {
                    "title": "民以食为天！为地方美食立法，真香！",
                    "url": "https://www.toutiao.com/article/7215214829970129408/?channel=&source=search_tab",
                    "data": "2023-03-27",
                    "txt": "很多兰州人的一天，都是从一碗牛肉拉面开始的，放眼全国，这碗香喷喷的兰州牛肉拉面更是俘获了无数人的味蕾。近日，由甘肃省政协办公厅提出的关于将《兰州牛肉拉面产业发展条例》列入立法规划的立法建议，已列入甘肃省人大常委会2023年度立法工作计划调研项目，将由相关部门和单位推进立法工作。"
                },
                {
                    "title": "石狮市出台《关于推进石狮美食繁荣发展的若干意见》",
                    "url": "https://www.toutiao.com/article/7230618619611185664/?channel=&source=search_tab",
                    "data": "2023-05-08",
                    "txt": "为做大做强“闽菜地标美食城市”，力争成为全国性美食商圈和旅游目的地，石狮市出台《关于推进石狮美食繁荣发展的若干意见》。"
                }
            ],
        }
    });
</script>
<script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E6%BB%91%E5%9D%97.js
"></script>

</body>

</html>