<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <script type="text/javascript" src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/vue.min.js
"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/jquery-3.7.0.min.js
"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/slick.js
"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/info.js
"></script>

    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A6%96%E9%A1%B5.css">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/info.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/css/%E9%A1%B5%E9%9D%A28.css">


</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <div class="logo">
            <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%9B%BE%E6%A0%87.png" alt="Logo" />
            <h2>中国菜宣传</h2>
        </div>

        <!--<div class="search">
            <input type="text" placeholder="搜索" />
            <button class="weibo-btn">
                <i class="fab fa-weibo"></i>
            </button>
        </div>-->
    </div>

    <div class="menu">
        <ul>
            <li id="home" class="menu-item"><a href="首页.html">首页</a></li>
            <li class="menu-item"><a href="../餐厅/餐厅推荐.html">餐厅</a></li>
            <li class="dropdown menu-item">
                <a href="info.html">资讯</a>
                <div class="dropdown-menu">
                    <a href="info_reports.html">#专题报道</a>
                    <a href="info_news.html">#新闻动态</a>
                    <a href="info_notification.html">#通知公告</a>
                </div>
            </li>
            <li class="dropdown menu-item">
                <a href="#">清单</a>
                <div class="dropdown-menu">
                    <a href="#">#国内外高分菜谱</a>
                    <a href="#">#中国菜传承人名单</a>
                    <a href="#">#中国美食之都(包括5座联合国官方承认)</a>
                    <a href="#">#中国菜典型食材特点及可替代品名单</a>
                    <a href="#">#中国菜首次公开名单</a>
                </div>
            </li>
            <li class="dropdown menu-item">
                <a href="#">资源</a>
                <div class="dropdown-menu">
                    <a href="#">#影像</a>
                    <a href="#">#美食图集</a>
                    <a href="#">#H5鉴赏</a>
                </div>
            </li>
            <li class="menu-item"><a href="#">论坛</a></li>
            <li class="menu-item"><a href="../知识窗/知识窗.html">知识窗</a></li>
        </ul>
        <div class="slider" id="slider"></div>
    </div>


    <!-- 第三个页面 -->


    <div  class="info-container">
        <div class="mianbao-mod" style="z-index:1;"><!--面包屑导航-->
            <div class="kong-wrap">
                <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
                <div class="mianbao-item"><a class="mianbao-a" href="./info.html">资讯</a> </div>
                <div class="mianbao-item"><a class="mianbao-a" href="./info_news.html">新闻动态</a></div>
            </div>
        </div>

        <div class="box111" id="ding">
            <div class="kong-wrap">
                <div class="box-s">
                    <div class="title1">新闻动态</div>
                    <div class="title2">
                        <a href="javascript:void(0);" class="title22 title23" v-bind:class="{ 'cur': flag==1 }" v-on:click="flag = 1">
                            <div class="title231">全部</div>
                        </a>
                        <a href="javascript:void(0);" class="title22 title23" v-bind:class="{ 'cur': flag==2 }" v-on:click="flag = 2">
                            <div class="title231">国宴风光</div>
                        </a>
                        <a href="javascript:void(0);" class="title22 title23" v-bind:class="{ 'cur': flag==3 }"v-on:click="flag = 3">
                            <div class="title231">地方特色</div>
                        </a>
                    </div>
                </div>

                <div class="content1">
                    <div class="content11" v-for="(item,index) in displayList" :key="index">
                        <div class="imgformat imgsuofang"><a target="_blank" :href="item.url"><img :src="item.image" alt=""
                                    title=""></a></div>
                        <div class="txtformat">

                            <div class="txttitle"><a :href="item.url" target="_blank" :title="item.title"
                                    style="font-size: 18px;">{{item.title}}</a>
                            </div>


                            <div class="date">
                                {{item.data}}
                            </div>
                            <div class="txttitle">
                                {{item.txt}}</div>
                            <a :href="item.url" target="_blank" class="chakan">查看更多</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="section">
        <div class="laoba">
            <div class="zuohe"style="margin-top: 100px">
                <div class="youqing" >友情链接</div><br><br>
                <a href="http://www.ccas.com.cn/">中国烹饪协会</a><br><br>
                <a href="https://tv.cctv.com/">央视网:美食中国</a><br><br>
                <a href="https://www.meishichina.com/">美食天下</a><br><br>
                <a href="https://tv.cctv.com/2017/01/19/VIDAtIyRXSWBaJGZ1itGdZFE170119.shtml">舌尖上的中国</a><br><br>
                <a href="https://www.cupk.edu.cn/">中国石油大学（北京）克拉玛依校区</a>
            </div>
            <div class="youhe" style="margin-top: 100px">
                地方美食网<br><br><br>
                <a
                    href="https://topic.visitbeijing.com.cn/site/2018/S/foods/index.html">北京</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://travel.qunar.com/p-cs299957-tianjin-meishi">天津</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1629084869466551788">河北</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/202603587_100014697">山西</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.163.com/dy/article/H7SR8TPI0552IASZ.html">内蒙古</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/441510651">辽宁</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1715085040749619934">吉林</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/203276734_100040190">黑龙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/269648160">上海</a><br><br>
                <a href="http://www.jsmsw.cc/">江苏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/208793760_573793">浙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/428072292">安徽</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.xiangha.com/xiaochi/fujiansheng/">福建</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                    href="https://www.sohu.com/a/204651250_100040190">江西</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1717857331230543492">山东</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://uhenan.com/Delicious/Index">河南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.1797.com.cn/">湖北</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.hunmsw.cn/">湖南</a><br><br>
                <a href="http://yjmeishi.net/pc/home/">广东</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://tv.cctv.com/yskd/wdzg/gxwd/index.shtml">广西</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/355886380_120146412">海南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.sjsdcq.com/">重庆</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.cwroom.com/wenhua/">四川</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://travel.qunar.com/p-sf297315-guizhou-meishi">贵州</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://culture.yunnan.cn/food/">云南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                    href="https://www.tibet3.com/lvyou/wcfq/ysh/2018-05-09/76473.html">西藏</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://dfz.shaanxi.gov.cn/sxts/mytc/">陕西</a><br><br>
                <a href="https://zhuanlan.zhihu.com/p/432028350">甘肃</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.xiangha.com/xiaochi/qinghaisheng/">青海</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/198855996_100040190">宁夏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.xinjiangnet.com.cn/mspd/">新疆</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="dilan">
                <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">版权与免责声明</a>
                <br><br>
                <span>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</span>
            </div>
        </div>
    </div>







    <script>
        var vm = new Vue({
            el: "#ding",
            data: {
                displayList: [],
                part1List: [
                    {
                        "title": "历史的积淀，看中国十大名菜",
                        "url": "https://www.toutiao.com/article/6971796686192673319/?channel=&source=news",
                        "data": "2023-06-09 22:38",
                        "image": "https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/101.jfif ",
                        "txt": "中国烹饪文化源远流长，历史悠久。自古以来，各地的美食家们便不断探索和创新，形成了各具特色的地方菜系。中国十大名菜目前最新公认为：软兜长鱼、松鼠鳜鱼、佛跳墙、开水白菜、宫保鸡丁、文思豆腐、北京烤鸭、龙井虾仁、扬州狮子头、东坡肉"
                    },
                    {
                        "title": "新时代中国菜留洋海外，哪些最受欢迎？",
                        "url": "https://www.toutiao.com/article/6740434925381485064/?channel=&source=news",
                        "data": "2019-09-25 10: 50",
                        "image": "https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/102.jfif",
                        "txt": " 随着全球化的发展，越来越多的人开始接触和了解中国文化，也对中国菜产生了兴趣，那么哪些菜在海外最受欢迎？"
                    },
                    {
                        "title": "路在何方，中国菜的创新从未停下脚步",
                        "url": "https://www.toutiao.com/article/7017754823609139719/?channel=&source=news",
                        "data": "2021-10-11 18: 53",
                        "image": "https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/3.png",
                        "txt": "科技需要创新，菜品也是。随着社会和经济的发展，人们对于饮食的需求也在不断变化，这就要求厨师们不断地进行创新和尝试。出色的厨艺，也需要一个有创意的装盘设计来衬托，配合上别致的餐盘，简单的点缀，不同的食材，也能立马融为一体，变成一道道精美菜式。中国菜的创新从未停下脚步"
                    }
                ],
                part2List: [
                    {
                        "title": "十道勾魂川菜制作，神仙下凡也站不稳",
                        "url": "https://www.toutiao.com/article/6714081518525874700/?channel=&source=news",
                        "data": "2019-07-16 10: 25",
                        "image": "https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/104.jfif",
                        "txt": "川菜在美食的发展史中，凭借着自己独特的味道与烹饪艺术自成一派，如今，川菜在全国范围内都是赫赫有名。而川菜的味道，相信每个人品尝过后，也会深深着迷。下面本期的川菜制作。"
                    },
                    {
                        "title": "为一口美食，赶赴一座城！访一方风情，寻鲁菜最初的味道",
                        "url": "https://www.toutiao.com/article/6747488978556944910/?channel=&source=news",
                        "data": "2019-10-14",
                        "image": "https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/105.jfif ",
                        "txt": " 你有没有：千里迢迢奔赴一座城，只是为了去尝一尝那隔着屏幕吸引到你、从此让你心心念念惦记了好久的一口美食！也许不是什么高档的酒店，也许只是路边小摊，也许连门牌都没有，但是那种味道却让人牵肠挂肚……排队？等座？一小时，三小时……就算排队三天，也要吃上那一口！"
                    },
                    {
                        "title": "七道徽州名菜，七个动人故事，这些菜肴里藏着一部部徽菜史!",
                        "url": "https://www.toutiao.com/article/6773526872543199757/?channel=&source=search_tab",
                        "data": "2019-12-23",
                        "image": "https://cupkcupk.oss-cn-beijing.aliyuncs.com/wyj_%E7%BD%91%E9%A1%B5%E7%9B%B8%E5%85%B3%E4%BA%91%E7%AB%AF%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/images/106.webp",
                        "txt": " 地处黄山脚下的皖南徽州，是块既具自然风光，又富文化底蕴的土地。这块土地上孕育的徽商， 走南闯北，称雄中国商界400年，与徽商生活息息相关而诞生的徽菜跻身于全国八大菜系之列。徽菜里藏着一部部动人的徽菜史!"
                    }
                ],
                flag: 0,
            },
            watch: {
                flag: function (val) {
                    if (val == 1) {
                        this.displayList = this.part1List.concat(this.part2List);
                    } else if (val == 2) {
                        this.displayList = this.part1List;
                    } else if (val == 3) {
                        this.displayList = this.part2List;
                    }
                },
                part1List: function (val) {
                    this.displayList = this.part1List.concat(this.part2List);
                },
                part2List: function (val) {
                    this.displayList = this.part1List.concat(this.part2List);
                }
            }
        });
        $(document).ready(function(){
            vm.flag=1;
        })
    </script>

    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/finalweb_css_js/%E9%A6%96%E9%A1%B5%E5%8A%A0%E8%B5%84%E8%AE%AF/js/%E6%BB%91%E5%9D%97.js
"></script>
</body>

</html>