<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <script type="text/javascript" src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_js/vue.min.js"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_js/jquery-3.7.0.min.js"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_js/slick.js"></script>
    <script src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_js/info.js"></script>

    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_css/%E9%A6%96%E9%A1%B5.css">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_css/info.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_css/%E9%A1%B5%E9%9D%A28.css">


</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <div class="logo">
            <img src="https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E9%A6%96%E9%A1%B5%E7%B4%A0%E6%9D%90_final_pictures/%E5%9B%BE%E6%A0%87.png
" alt="Logo" />
            <h2>中国菜宣传</h2>
        </div>

        <div class="search">
            <input type="text" placeholder="搜索" />
            <button class="weibo-btn">
                <i class="fab fa-weibo"></i>
            </button>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li id="home" class="menu-item"><a href="首页.html">首页</a></li>
            <li class="menu-item"><a href="#">机构</a></li>
            <li class="menu-item"><a href="#">政策</a></li>
            <li class="dropdown menu-item">
                <a href="web/zixun/info.html">资讯</a>
                <div class="dropdown-menu">
                    <a href="web/zixun/info_news.html">新闻动态</a>
                    <a href="web/zixun/info_reports.html">专题报道</a>
                    <a href="web/zixun/info_notification.html">通知公告</a>
                </div>
            </li>
            <li class="dropdown menu-item">
                <a href="#">清单</a>
                <div class="dropdown-menu">
                    <a href="web/qingdan/caipu.html">国内外高分菜谱</a>
                    <a href="web/qingdan/chuanchengren.html">中国菜传承人名单</a>
                    <a href="web/qingdan/city.html">中国美食之都(包括5座联合国官方承认)</a>
                    <a href="web/qingdan/shicai.html">中国菜典型食材特点及可替代品名单</a>
                    <a href="web/qingdan/mingdan.html">中国菜首次公开名单</a>
                </div>
            </li>
            <li class="dropdown menu-item">
                <a href="#">资源</a>
                <div class="dropdown-menu">
                    <a href="web/ziyuan/yingxiang_ziyuan.html">影像</a>
                    <a href="web/ziyuan/tupian_ziyuan.html">美食图集</a>
                    <a href="#">#H5鉴赏</a>
                </div>
            </li>
            <li class="menu-item"><a href="#">论坛</a></li>
            <li class="menu-item"><a href="#">知识窗</a></li>
        </ul>
        <div class="slider" id="slider"></div>
    </div>


    <!-- 第三个页面 -->


    <div  class="info-container">
        <div class="mianbao-mod" style="z-index:1;"><!--面包屑导航-->
            <div class="kong-wrap">
                <div class="mianbao-item"><a class="mianbao-a" href="./首页.html">首页</a></div>
                <div class="mianbao-item"><a class="mianbao-a" href="./info.html">资讯</a> </div>
                <div class="mianbao-item"><a class="mianbao-a" href="./info_news.html">新闻动态</a></div>
            </div>
        </div>

        <div class="box111" id="ding">
            <div class="kong-wrap">
                <div class="box-s">
                    <div class="title1">新闻动态</div>
                    <div class="title2">
                        <a href="javascript:void(0);" class="title22 title23" v-bind:class="{ 'cur': flag==1 }" v-on:click="flag = 1">
                            <div class="title231">全部</div>
                        </a>
                        <a href="javascript:void(0);" class="title22 title23" v-bind:class="{ 'cur': flag==2 }" v-on:click="flag = 2">
                            <div class="title231">国宴风光</div>
                        </a>
                        <a href="javascript:void(0);" class="title22 title23" v-bind:class="{ 'cur': flag==3 }"v-on:click="flag = 3">
                            <div class="title231">地方特色</div>
                        </a>
                    </div>
                </div>

                <div class="content1">
                    <div class="content11" v-for="(item,index) in displayList" :key="index">
                        <div class="imgformat imgsuofang"><a target="_blank" :href="item.url"><img :src="item.image" alt=""
                                    title=""></a></div>
                        <div class="txtformat">

                            <div class="txttitle"><a :href="item.url" target="_blank" :title="item.title"
                                    style="font-size: 18px;">{{item.title}}</a>
                            </div>


                            <div class="date">
                                {{item.data}}
                            </div>
                            <div class="txttitle">
                                {{item.txt}}</div>
                            <a :href="item.url" target="_blank" class="chakan">查看更多</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="section">
        <div class="laoba">
            <div class="zuohe"style="margin-top: 100px">
                <div class="youqing" >友情链接</div><br><br>
                <a href="http://www.ccas.com.cn/">中国烹饪协会</a><br><br>
                <a href="https://tv.cctv.com/">央视网:美食中国</a><br><br>
                <a href="https://www.meishichina.com/">美食天下</a><br><br>
                <a href="https://tv.cctv.com/2017/01/19/VIDAtIyRXSWBaJGZ1itGdZFE170119.shtml">舌尖上的中国</a><br><br>
                <a href="https://www.cupk.edu.cn/">中国石油大学（北京）克拉玛依校区</a>
            </div>
            <div class="youhe" style="margin-top: 100px">
                地方美食网<br><br><br>
                <a
                    href="https://topic.visitbeijing.com.cn/site/2018/S/foods/index.html">北京</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://travel.qunar.com/p-cs299957-tianjin-meishi">天津</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1629084869466551788">河北</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/202603587_100014697">山西</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.163.com/dy/article/H7SR8TPI0552IASZ.html">内蒙古</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/441510651">辽宁</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1715085040749619934">吉林</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/203276734_100040190">黑龙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/269648160">上海</a><br><br>
                <a href="http://www.jsmsw.cc/">江苏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/208793760_573793">浙江</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://zhuanlan.zhihu.com/p/428072292">安徽</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.xiangha.com/xiaochi/fujiansheng/">福建</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                    href="https://www.sohu.com/a/204651250_100040190">江西</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://baijiahao.baidu.com/s?id=1717857331230543492">山东</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://uhenan.com/Delicious/Index">河南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.1797.com.cn/">湖北</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.hunmsw.cn/">湖南</a><br><br>
                <a href="http://yjmeishi.net/pc/home/">广东</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://tv.cctv.com/yskd/wdzg/gxwd/index.shtml">广西</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/355886380_120146412">海南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.sjsdcq.com/">重庆</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.cwroom.com/wenhua/">四川</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://travel.qunar.com/p-sf297315-guizhou-meishi">贵州</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://culture.yunnan.cn/food/">云南</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                    href="https://www.tibet3.com/lvyou/wcfq/ysh/2018-05-09/76473.html">西藏</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://dfz.shaanxi.gov.cn/sxts/mytc/">陕西</a><br><br>
                <a href="https://zhuanlan.zhihu.com/p/432028350">甘肃</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.xiangha.com/xiaochi/qinghaisheng/">青海</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.sohu.com/a/198855996_100040190">宁夏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.xinjiangnet.com.cn/mspd/">新疆</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="dilan">
                <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="">版权与免责声明</a>
                <br><br>
                <span>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</span>
            </div>
        </div>
    </div>







    <script>
        var vm = new Vue({
            el: "#ding",
            data: {
                displayList: [],
                part1List: [],
                part2List: [],
                flag: 1,
            },
            watch: {
                flag: function (val) {
                    if (val == 1) {
                        this.displayList = this.part1List.concat(this.part2List);
                    } else if (val == 2) {
                        this.displayList = this.part1List;
                    } else if (val == 3) {
                        this.displayList = this.part2List;
                    }
                },
                part1List: function (val) {
                    this.displayList = this.part1List.concat(this.part2List);
                },
                part2List: function (val) {
                    this.displayList = this.part1List.concat(this.part2List);
                }
            }
        });
        $.get("https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_data/part1_news.json", function (data) {
            vm.part1List = data;
        })
        $.get("https://cupkcupk.oss-cn-beijing.aliyuncs.com/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5xuanran/%E5%92%A8%E8%AF%A2%E7%BD%91%E9%A1%B5_data/part2_news.json", function (data) {
            vm.part2List = data;
        })
        $(document).ready(function () {
        })
    </script>


</body>

</html>